<div class="container col-md-6 mt-3 mb-3 card bg-dark">
   <form action="/plush/add" method="post">
      <h1 class="text text-success text-center text-uppercase mt-3">Add new plush</h1>
      <div class="form-group mt-3">
        <label class="h5 text text-success" for="">Full name</label> 
        <input class="form-control" type="text" name="name" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Image</label>
         <input class="form-control" type="url" name="image" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Price</label>
         <input class="form-control" type="number" name="price" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Quantity</label>
         <input class="form-control" type="number" name="quantity" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Category</label>
         <select class="form-control" name="category">
            <option value="Cartoon">Cartoon</option>
            <option value="Animal">Animal</option>
         </select>
      </div>
      <div class="form-group mt-3">
        <label class="h5 text text-success" for="">Brand</label> 
        <input class="form-control" type="text" name="brand" required>
      </div>
      <div class="form-group mt-3">
         <label class="h5 text text-success" for="">Description</label>
         <input class="form-control" type="text" name="description" required>
      </div>
      <div class="form-group text-center mt-3 mb-3">
         <input class="btn btn-primary" type="submit" value="Add">
      </div>
   </form>
</div>
<style>
      body{
         background-color: pink;
      }
   </style>